## Some Preliminaries

For the purposes of this exploration of a sql formatted database, I have already obtained data about Roman Amphitheatres from archaeologist Sebastian Heath. Heath made his data availabe as a csv file which he put online via Github. I used a command called 'curl' to obtain it:

```bash
!curl https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/roman-amphitheaters.csv > amphi.csv
```
'curl' grabs the information at a web url; the `>` tells it to save everything it finds as `amphi.csv`

I also retrieved information about Roman aqueducts from the [Atlas Project of Roman Aquedcuts](https://romaq.org/the-project/aqueducts.html) and formatted it as a csv with some regular expressions work.

Honestly, half the battle in digital archaeology is getting the data in a format where you can _do_ something.

Fortunately, those two files are already present for you. Double click on them in the file tray, have a look, then come back here.

### Get sqlitebiter
We are going to combine those two files into a new sqlite database where each file is its own unique table.

'sql' stands for 'structured query language' and is a powerful way to create, access, and manage large databases. 'sqlite' is a lite version. '[sqlitebiter](https://sqlitebiter.readthedocs.io/en/latest/)' is a utility that we'll use to set up our data as a .db file.

In [ ]:
## we'll install it to our working python environment
!pip install sqlitebiter

### CSVs -> sqlite.db

First we'll create a new database called `roman.db` from the two .csv files.

Then we'll initialize it, make sure everything looks ok.

In [ ]:
!sqlitebiter -o roman.db file "amphi.csv" "aqua.csv"
!sqlite3 roman.db .schema .exit
!sqlite3 roman.db .tables .exit

If everything went according to plan, you should see some `[info]` lines that explain that the .csv files were converted into tables, and that you now have a database at `roman.db`. You will also see a bunch of sql commands like `CREATE TABLE IF NOT EXISTS` and these confirm that yup your materials were correctly made. The last command also confirms what `tables` exist in the database; you'll see 

`_source_info_  amphi          aqua ` 

if all went well. Notice also that `roman.db` is in your file tray now. If you double-click on that, you'll get an error because the workbench doesn't automatically know how to interpret .db files. For that, we write queries!

## Querying the Data

The first thing we're going to do is create a python function that opens a connection to the database, and allows us to build queries. After we create the function, we can create query objects, and then `run_query`.

In [ ]:
# create a function for querying the database

# first we get the python packages that help us with this work
import sqlite3
import pandas as pd

# we create a variable called 'db' and we use the 'sqlite' package's 'connect' function to read 'roman.db'
db = sqlite3.connect('roman.db')

# now we define a function called 'run query'
# that will let us write our questions using SQL syntax - the query - and then the function
# will implement it.
def run_query(query):
    return pd.read_sql_query(query,db)

Let's give it a try. We're going to build a query that asks, 'show us every column in the amphi table, but only for the first five rows.' The SQL for this:

```SELECT *``` = select everything

```FROM amphi``` = from the amphi table (which originally was amphi.csv, remember)

```LIMIT 5``` = the first five rows.

In [ ]:
query1 = 'SELECT * FROM amphi LIMIT 5;'
run_query(query1)

Notice, by the way, that the _first_ row starts with 0! Computers, eh? Indices start with row 0. Just one of those things.

Now: do the same thing again, but from the aqueducts table.

In [ ]:
## hint - copy the code from the previous code cell. Which little bit do you need to change?

### Basic Query Commands
SELECT, LIMIT, ORDER BY : using these, we can ask, 'Which amphitheatre is at the highest elevation?'

Use SELECT to retrieve the id and elevation columns FROM the amphi table

Use ORDER BY to sort the elevation column and use the DESC keyword to specify that you want to sort in descending order

Use LIMIT to restrict the output to 1 row

In [ ]:
query2 = '''
SELECT id, elevation 
FROM amphi
ORDER BY elevation DESC
LIMIT 1;
'''

run_query(query2)

## before you run this: what do you expect you'll see/find out?

In [ ]:
# Do the same thing again, but let's get the 10 amphitheatres at the highest elevation. 
# You only need to make one minimal change. Copy the code into this cell, make the change, and run it.

### Querying with Conditions

Now let's create a query that creates a subset of data using a logical operator. We need the 'WHERE' command. Our next query will look for amphitheatres that exist at an elevation greater than 500 metres above sea level.

In [ ]:
query3 = '''
SELECT * 
FROM amphi
WHERE elevation > 500;
'''

run_query(query3)

Our condition can be string data (ie, text) too; in which case we put the string in quotation marks. Here, we'll filter by the chronological grouping 'Flavian', which is to say, amphitheatres built during the reign of the Flavian Emperors (Vespasian, Titus, and Domitian, so middle of the 1st century).

In [ ]:
query4 = '''
SELECT * 
FROM amphi
WHERE chronogroup = "flavian";
'''

run_query(query4)

In [ ]:
## Can you write a query that pulls only the Flavian amphitheatres in France? 
## Hint: you'll need the AND command.

### Adding some math

How many such amphitheatres are there? This is where you'd use the COUNT command. Let's count up the number of amphitheatres from the second century. 

(By the way, this query will only give us one row of results, right? So when it runs, remember, it is showing us a table of results where there are two columns, the first without a header, and the second showing what we SELECTed. And one row of results will have an index of 0. You can ignore that.)

In [ ]:
query5 = '''
SELECT COUNT(*)
FROM amphi
WHERE chronogroup = "second-century";
'''

run_query(query5)

In [ ]:
# It might be nice to have our results show with a nice title, so:
query = '''
SELECT COUNT(*) AS "Total Count of Second Century Amphitheatres in the DB"
FROM amphi
WHERE chronogroup = "second-century";
'''

run_query(query)

We can do more than count. We can sum (add); we can find the avg (mean); we can find the min (smallest) and max (largest) values with:

SUM, AVG, MIN and MAX

Given that, what was the average capacity (in terms of number of people who could sit in the amphitheatre)?

In [ ]:
query6 = '''
SELECT AVG(capacity) AS "Average Capacity"
FROM amphi;
'''

run_query(query6)

In [ ]:

# how long were amphitheatres?

query7 = '''
SELECT AVG(arenamajor) AS "Average Length"
FROM amphi;
'''

run_query(query7)

We can group rows by one value versus another to see how they compare. Is there a difference in average length of the long axis in Julio-Claudian versus Flavian amphitheatres?

In [ ]:
query8 = '''
SELECT chronogroup, AVG(arenamajor) AS "Average Length"
FROM amphi
GROUP BY chronogroup
ORDER BY "Average Length" DESC;
'''

run_query(query8)

## Practice

Examine the fields in the aqueduct data. Craft some queries that explore that data. What kinds of questions might you want to ask?

In [ ]:
# here, let me start you off...

query10 = '''
SELECT 
FROM aqua

'''

run_query(query10)

## Joining Data
Now let's tell the database how the two tables are joined together. In this case, we want to find places where both an amphitheatre and an aqueduct existed - specifically, places associated with Rome.

Normally, when we join two tables, we want to perform the join on columns that are keyed together. In a sales database for instance there might be a table of `orders` and another for `shipping address`, and each one contains a `customer_id` column. In such a case, we use `=` to say:

```
FROM orders
INNER JOIN shipping_address
ON orders.customer_id = shipping_address.customer_id

```
But archaeological data is rarely so straightforward. In our two tables here, we have to pattern match in order to make the two fields join up - there is no 'primary key' to help us know that a row in one table is talking about the same thing in another table. Instead of `=` we're going to use the LIKE command. LIKE uses two different kinds of wildcards, `%` and `_`.

* % matches any sequence of zero or more characters
* _ matches any single character.

If we said, `LIKE 'Rom%'` we would find matches on Rome, Roman, Romania and so on. Placing the `%` on either side would find strings that *contain* Rom.

In our specific case, we want to find records where both tables contain references to "Rome" - that is, where `aqua.alternative_name` contains "Rome" AND `amphi.title` also contains "Rome". This will show us places where both an aqueduct and an amphitheatre existed in the same location.

To join our tables based on this shared location criterion, we do an 'inner join'. The syntax generally is:

```
SELECT relevant-columns                    # these will be the columns displayed in your result
FROM tableA                               # the table to join
INNER JOIN tableB                         # with this table
ON condition1 AND condition2              # by these criteria
```

The query below finds records where both the `aqua.alternative_name` and `amphi.title` fields contain the string "Rome", effectively showing us the aqueducts and amphitheatres that existed in Rome.

In [ ]:

query = '''
SELECT amphi.id, amphi.label, amphi.title, aqua.aqueduct_name, aqua.alternative_name
FROM aqua 
INNER JOIN amphi
ON LOWER(aqua.alternative_name) LIKE '%rome%' 
   AND LOWER(amphi.title) LIKE '%rome%';
'''
run_query(query)

In [ ]:
## and when you're finished, you always should 
# close the connection to the database:
db.close()